
.search-page-main{
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 16px 16px 0;
}

.search-page-nav{
  width: 225px;
  margin-right: 32px;
}

.search-page-list{
  width: 75%;
  display: flex;
  flex-direction: column;
}

.restaurant-list-number{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // margin: 0 0 16px;
  padding: 16px 0;
  height: 44px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  color: #2d333f;
}

.restaurant-list-number h2{
  color: #2d333f;
  margin: 4px 0 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.restaurant-item-container{
  display: flex;
  align-items: center;
  padding: 16px 0 16px;
  // margin-bottom: 16px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  height: 250px;
}

.restaurant-item{
  display: flex;
}

.restaurant-left{
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.restaurant-left img{
  border-radius: 4px;
  position: absolute;
  // flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.restaurant-right{
  margin-left: 16px;
}

.restaurant-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
}

.restaurant-name a{
  cursor: pointer;
  color: #247f9e;
  font-size: 22px;
  font-weight: 700;
}

.restaurant-ratings{
  margin: 8px 0 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.restaurant-list-stars{
  width: 100px;
  display: flex;
  align-items: center;
  // margin-right: 2px;
}

.stars-outer {
  display: inline-block;
  position: relative;
}

.stars-outer svg{
  vertical-align: middle;
}

.stars-inner svg{
  vertical-align: middle;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.restaurant-info-details{
  margin: 16px 0 0;
}

.restaurant-info-details span{
  padding-right: 10px;
}

.restaurant-info-details span::before{
  content: "•";
  padding-right: 5px;
  color: #2d333f;
}

.restaurant-booked{
  margin: 16px 0 0;
}


.restaurant-times{
  // height: 48px;
  margin-top: 16px;
}

.restaurant-times ul{
  display: flex;
}

.restaurant-times ul a{
  background: #da3743;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  margin-right: 6px;
  width: 80px;
}

.landing-restaurant-times ul a:hover{
  -webkit-filter: brightness(80%);
}